<input type="text" [(ngModel)]="searchCategory"
       name="searchCategory" class="form-control"
       placeholder="search by category">
<h1>{{searchCategory}}</h1>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Picture</th>
    <th>Action</th>
  </tr>
  <ng-container *ngFor="let category of listCategory">
    <!---<tr *ngIf="category.available">--->
    <tr *ngIf="category.name.includes(searchCategory) || searchCategory==null">
      <td>{{category.name}}</td>
      <td><img src="{{category.picture}}"></td>
      <td>
        <a [routerLink]="['list/category',category.id]">
        show products by category
        </a>
      </td>
      <td [hidden]="category.nbrLike<20">Most liked categories</td>
      <td> <button [disabled]="!category.available"   class="btn-sm btn-success"
                   (click)="addLike(category)">like {{category.nbrLike}}</button></td>
    </tr>
  </ng-container>
</table>
